/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Satisfy&family=Ubuntu:wght@300&display=swap');

*{
    padding : 0;
    margin : 0;
    box-sizing : border-box;
    font-family: 'Archivo', sans-serif;
}

body {
    flex-wrap: wrap;
    background: linear-gradient(45deg, #fcfcfc, #68686838) ;
}

/*Cabeçalho*/

header {
    padding: 2rem;
    flex-wrap: wrap;
}

.header-text {
    display: block;
    padding: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: x-large;
    line-height: 3rem;
}

.header-text h1 {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    margin-bottom: 1rem;
    background: linear-gradient(90deg, rgba(0,0,0,1) 4%, rgba(255,155,44,1) 23%, rgba(255,0,0,1) 88%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent
}

.header-text h2 {
    font-size: 1.7rem;
    font-weight: 500;
}

.header-text h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.social-media {
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

/*Container principal*/

.container {
    padding: 15rem;
    padding-top: 5rem;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container-topics {
    margin-left: 2rem;
}

.topic {
    display: flex;
    justify-content: space-between;
    column-gap: .5rem;
    align-items: baseline;
}

.arrow-right {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    flex-grow: 1;
  }

.topic a {
    text-decoration: none;
    line-height: 3rem;
    font-size: small;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    flex-grow: 1;
}

.container-image img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale(1);
    transition: all 500ms ease-in-out;
}

.container-image img:hover, .container-image img:focus {
    filter: grayscale(0);
} 

/*Habilidades*/
.habilidades {
    text-align: center;
    align-items: center;
}

.border {
    border-top: #030303 .4px solid;
}

.habilidades h2 {
    font-family: 'Satisfy', cursive;
    margin-top: 3rem;
    font-size: 2rem;
    background: linear-gradient(90deg, rgba(0,0,0,1) 4%, rgb(235, 133, 17) 23%, rgba(255,0,0,1) 88%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent
}

.tecnologias {
    padding: 5rem;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 2rem;
    row-gap: 3rem;
}

.tecnologias #HTML, #CSS, #Python, #SQL, #MachineLearning, #PowerBI {
    font-size: x-large;
    line-height: 3rem;
}

.tecnologias img {
    width: 70%;
    filter: grayscale(0);
    transition: all 170ms ease-in-out;
}

.tecnologias img:hover, .tecnologias img:focus {
    width: 80%;
}

/*Rodapé*/
footer {
    font-weight: 1000;
    padding: 100px;
    text-align: center;
    border-top: #030303 .4px solid;
}